{% extends "checktasks/checktasks_base.html" %}

{% load static %}

{% block js %}
{% csrf_token %}
<script type="text/javascript" src="{% static 'checktasks/js/helper.js' %}"></script>
<script type="text/javascript" src="{% static 'checktasks/js/view.js' %}"></script>
<script type="text/javascript" src="{% static 'checktasks/js/tasks.js' %}"></script>

<link href="{% static 'checktasks/css/viewer.css' %}" type="text/css" rel="stylesheet" />

<script type="text/javascript">
    var add_url = "{% url 'checktasks:add' %}";
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    var get_tasksAjax_url = "{% url 'checktasks:ajax_tasks' %}";
</script>
{% endblock %}

{% block content %}
<button type="button" class="btn btn-primary" id="add-btn">
    <i class="fa fa-plus" aria-hidden="true"></i> Add
</button>

<div id="tasks-div"></div>

<div class="center-block menu-option" id="menu-option-div"></div>
{% endblock %}