{% extends "budget/budget_base_generic.html" %}
{% load static %}

{% block js %}
<script type="text/javascript" src="{% static 'budget/js/ajax_fun.js' %}"></script>
<script type="text/javascript" src="{% static 'budget/js/helper.js' %}"></script>
<script type="text/javascript" src="{% static 'budget/js/menu_screen.js' %}"></script>
<script type="text/javascript" src="{% static 'budget/js/add/add_menus.js' %}"></script>
<script type="text/javascript" src="{% static 'budget/js/add/add_page.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Adding Income/Expenditure</h2>
    <form id="add-form" method="{% url 'budget:add' %}" method="POST">
        <div class="form-group">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="add-type-options" autocomplete="off" checked value="income"> Income
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="add-type-options" autocomplete="off" value="expenditure"> Expenditure
                </label>
            </div>
        </div>
        <div id="add-menu-container"></div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" id="cancel-button">Cancel</button>
    </form>
</div>
{% endblock %}