{% extends "budget/budget_base_generic.html" %}

{% block content %}
    <div class="container">

        <p><span class="glyphicon glyphicon-off"></span></p>

        <div class="text-center">
            <a href="{% url 'budget:view_prev_day' year month day %}">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
            {{month_str}} {{day}}, {{year}}
            <a href="{% url 'budget:view_next_day' year month day %}">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>

{% endblock %}

{% block menuscreen %}
    <div class="collapse" id="side-menu">
        <div class="bg-dark p-4">
            Hello
        </div>
    </div>
{% endblock %}