{% extends "budget/budget_base_generic.html" %}

{% load static %}

{% block js %}

<script type="text/javascript" src="{% static 'budget/js/view_day.js' %}"></script>
<script type="text/javascript" src="{% static 'budget/js/menu_screen.js' %}"></script>

{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'budget/css/view_day.css' %}" />

<div class="container">
    <p><span class="glyphicon glyphicon-off"></span></p>

    <div class="text-center">
        <a href="{% url 'budget:view_prev_day' year month day %}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        {{month_str}} {{day}}, {{year}}
        <a href="{% url 'budget:view_next_day' year month day %}">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </div>
    <button class="btn btn-default" id="add-button">
        <i class="fa fa-plus" aria-hidden="true"></i> Add</button>
</div>

<div class="center-block menu-option" id="menu-option-div">
    <form>
        <div class="form-group">
            <label for="menu-type-select">Type</label>
            <select class="form-control col-sm-2" id="menu-type-select">
                <option>Income</option>
                <option>Expenditure</option>
            </select>
        </div>
    </form>

    <form id="created_menu_form"></form>
</div>

{% endblock %}