.boolOn {
    background-color: limegreen;
}

td.active:hover {
    background-color: lightgreen;
}

td:not(.active):hover {
    background-color: papayawhip;
}

.task-name-btn {
    padding-top: 1px;
    padding-bottom: 1px;
}

th.task-name-th {
    padding-top: 1x;
    padding-bottom: 1px;
}

td {
}

.clickable {
    cursor: pointer;
}